
.button {
  position: relative;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.swatchButton {

  width : 40 px;
  height : 40px;
  margin : 8px;
  padding : 8px;
}

.spacing {
  margin: 8px;

}